.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: rgb(92, 0, 17);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.topo picture{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
}

.topo nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.topo nav a{
    text-transform: uppercase;
    font-weight: bold;
    color: #f3d189;  /*#dfbb6e*/
    position: relative;
    padding: 8px 12px;
    transition: all 0.3s ease;
}

.topo nav a:hover{
    
    background-color: rgb(97, 2, 20);
    color: #f8efe6;
    border-radius: 8px;
}

/*Responsividade/*/

@media(max-width: 768px){
    .topo{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .topo picture{
        max-width: 80px;
        margin-bottom: 0;
    }
    .topo nav{
        font-size: 12px;
    }
    
}